<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EducaStats"
        tools:targetApi="31">
        <activity
            android:name=".Como"
            android:exported="false" />
        <activity
            android:name=".BRO"
            android:exported="false" />
        <activity
            android:name=".Hola"
            android:exported="false"
            android:theme="@style/Theme.EducaStats" />
        <activity
            android:name=".Matricula"
            android:exported="false"
            android:label="@string/title_activity_matricula"
            android:theme="@style/Theme.EducaStats" />
        <activity
            android:name=".lisAlumnos"
            android:exported="false" />
        <activity
            android:name=".Alumnos"
            android:exported="false" />
        <activity
            android:name=".myapp"
            android:exported="false"
            android:label="@string/title_activity_myapp"
            android:theme="@style/Theme.EducaStats.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>